
*{
    padding: 0;
    margin:0;
}
body{
    background-color: #d1dede;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
}
ul {
    list-style: none;
    padding: 0 2em; 
    display: flex;
}
.book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 180px;
    background-color: #68a6a6;
    border-radius: 10px;
    box-shadow: inset;
}
@media (max-width: 825px) {
    .card{
        width: 45%;
        padding: 0;
    }
    
}
.nav-active {
    font-size: 23px;
    border-bottom: 1px solid rgb(192, 113, 113);
}
a {
    text-decoration: none;
    color:rgb(17, 91, 126)
}